.column {
  float: left;
}

.right {
    width : 85%
}

.left {
    background-color : #000000;
    width : 15%;
    height : 800px
}

#cus,#Exp,#Test {
    padding: 18px 8px 0px 25px;
    color: #818181;
    font-size: 25px;
}

#customer_table {
    background-color : #000000;
    width : 100%;
    height : 100%;
    border-style: solid;
    border-color: #ffffff #b3ffff #b3ffff #b3ffff;
    border-width: 0px 15px 35px 15px;
}

#customer_th, #customer_td {
  color : #ffffff;
  padding : 20px;
}

#dummy {
  color : #ffffff;
  background-color : #ffffff;
  margin-left : 15px;
  border-style: solid;
  border-width: 0px 15px 0px 0px;
  border-color: #ffffff #b3ffff #ffffff #ffffff;
}

#customer_add_btn {
   color : #805500;
   background-color : #b3ffff;
   margin-left : 15px;
   border-style: groove;
   border-color: #b37700;
   border-width : 0.9px;
}

#customer_div {
    background-color : #b3ffff;
    margin-left : 30px;
}

#customer_tr:nth-child(even) {
    background-color: #1a1a1a;
}

#my {
    width : 1200px;
}

#row_of_expense{
    margin-left: 15px;
}

#expense_div {
    margin-left: 40px;
}

.column_of_expense_left {
    width: 50%;
    margin-bottom: 150px;
    margin-top: 50px;
}

.column_of_expense_right {
    width : 50%;
    text-align : right;
    margin-top: 50px;
    margin-bottom: 150px;
}

#expense_th{
  color : #000000;
  background-color : #5c5c8a;
  border: 2px solid;
  border-color: #ffffff;
}

#expense_td{
    width: 250px;
}

.column_left{
    width: 50%;
}

.column_right{
    width: 50%;
    text-align : right;
}

#row_of_expense_1{
    margin-top: 25px;
    margin-left: 15px;
}

#row_of_expense_2{
    margin-left: 15px;
}

#row_of_expense_3{
    margin-top: 10px;
    margin-left: 15px;
}

#row_of_expense_4{
    margin-top: 40px;
    margin-left: 15px;
}

#DropBox_expense{
    margin-left: 410px;
}

#add_margin{
    margin-top: 50px;
}







